<h1 class="text-lg leading-6 font-medium text-gray-900">Editing user</h1>

<%= render "form", user: @user, submit_text: "Update User" %>

<div class="mt-6">
  <%= link_to "👀 Show this user", @user, class: "hover:underline" %>
</div>

<div class="mt-2">
  <%= link_to "🔙 Users", users_path, class: "hover:underline"%>
</div>
