<h1 class="text-lg leading-6 font-medium text-gray-900">Editing event</h1>

<%= render "form", event: @event, submit_text: "Update Event" %>

<div class="mt-6">
  <%= link_to "👀 Show this event", @event, class: "hover:underline" %>
</div>

<div class="mt-2">
  <%= link_to "🔙 Events", events_path, class: "hover:underline"%>
</div>
